<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Ancestors Archive</title>
  <link rel="stylesheet" href="/stylesheets/entries.css">
</head>

<body>

  <div class="grid-container" id="entryGrid">
    {{#each entries}}
    <div class="post" data-name="{{this.name}}" data-birth="{{this.birthYear}}" data-death="{{this.deathYear}}"
      data-description="{{this.description}}">
      <span class="meta">{{this.name}},</span>
      <br>
      <span>{{this.birthYear}}–{{this.deathYear}}</span>
    </div>
    {{/each}}
  </div>


  <div id="modal" class="modal hidden">
  <div class="modal-content">
    <span id="closeModal" class="close">&times;</span>
    <h2 id="modalName"></h2>
    <p id="modalYears"></p>
    <p id="modalMessage"></p>
  </div>
</div>

  <script src="/javascripts/entries.js"></script>
</body>

</html>